* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--montserrat-font);
}
:root {
    --yellow: #ffc400;
    --green: #6eb41d;
    --green-light: #7ccf1d;
    --grey: #1b1212;
    --gray-light: #e7e7e7;
    --white: #ffffff;
    --red: #ff0000;
    --box-shadow: 0px 0px 10px .2px #4e4b4b;
    --cursive-font: 'Courgette', cursive;
    --montserrat-font: 'Montserrat', sans-serif;
    --hexagon: polygon(50% 0, 100% 20%, 100% 80%, 50% 100%, 0 80%, 0 20%);
}
body {
    width: 100%;
    background-color: var(--gray-light);
    overflow-x: hidden;
}

/* --HEADER-- */
header {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: stretch;
    background-color: var(--grey);
}
header nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 0px;
}
header nav h2 {
    color: var(--white);
    font-weight: 700;
    margin-left: 20px;
}
header nav img {
    display: none;
} 
header nav ul li a {
    text-decoration: none;
    color: var(--white);
} 
header nav ul li a:hover {
    text-decoration: underline;
} 
header nav ul li {
    margin: 0 20px;
    list-style: none;
} 

header nav ul {
    display: flex;
    align-items: center;
    justify-content: end;
}

/* --MAIN-- */
/* HERO */

.hero {
    height: calc(100vh - 80px);
    min-height: 500px;
    display: grid;
}
.hero_background-image {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}
.hero_background-image .img-1 {
    width: 100vw;
    height: 100%;
    background-image: url("../assets/Imagenes/Hero/Hero1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.hero_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 70px 30px;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}
.logo {
    width: 300px;
    height: 300px;
    background-image: url("/assets/Imagenes/Hero/logo.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
h1 {
    margin-top: 20px;
    font-weight: 700;
    text-align: center;
    color: white;
    font-size: 30px;
}

/* SECTION 1 */

.section-1 {
    height: auto;
    min-height: 600px;
    margin: 0 auto;
    background-color: var(--gray-light);
    margin-top: 20px;
    border-top: dashed 5px black;
}
.separator {
    background-color: var(--gray-light);
    text-align: center;
    width: 200px;
    font-family: var(--cursive-font);
    position: relative;
    left: calc(50% - 100px);
    bottom: 18px;
    z-index: 2;
    font-size: 28px;
}
.section-1 .container {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    margin: 50px auto;
    max-width: 1000px;
}
.container_description {
    margin: 10px;
    margin-top: 30px;
    width: 280px;
    background-color: var(--white);
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: var(--box-shadow);
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    
}
.container_logo {
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    background-color: var(--yellow);
    clip-path: var(--hexagon);
}
.container_description h3 {
    font-size: 18px;
}
.offer {
    background-color: var(--white);
    height: auto;
    display: flex;
    max-width: 980px;
    margin: 50px auto;
}
.offer .img {
    height: 200px;
    width: 50vw;
    max-width: 630px;
    background-image: url("../assets/Imagenes/promocion.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.offer_text-content {
    margin: 0 auto;
    align-self: center;
    justify-self: center;
    display: flex;
    flex-direction: column;
}
.offer_text-content p:first-child {
    font-weight: 900;
    color: var(--red);
    font-size: 18px;
}
.offer_text-content p:last-child b {
    padding: 2px;
    background-color: var(--yellow);
    color: var(--white);

}
.logo_description {
    width: 50px;
    height: 50px;
}

/* SECTION 2 */

.section-2 {
    background-color: var(--gray-light);
    margin-top: 20px;
    border-top: dashed 5px black;
    width: 100vw;
}
.section-2 .separator p {
    font-family: var(--cursive-font);
    font-size: 25px;
}
.section-2 .container {
    margin: 50px auto;
    max-width: 1000px;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}
.section-2 .container img {
    width: 100%;
    height: 150px;
    position: relative;
    right: 0px;
    left: 0px;
    object-fit: cover;
}
.section-2 .container div {
    width: 280px;
    height: 330px;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: var(--box-shadow);
    margin: 10px;
    margin-top: 30px;
    text-align: center;
    font-size: 16px;
    font-weight: 300;
}
.section-2 .container div p {
    padding-left: 10px;
    padding-right: 10px;
}
.section-2 .container div h3 {
    margin-top: 20px;
}
.button {
    display: block;
    width: 200px;
    height: 50px;
    padding: 15px 30px;
    margin: 50px auto;
    text-decoration: none;
    background-color: var(--green);
}
.button:hover {
    background-color: var(--green-light);
}
.button p {
    color: var(--white);
    font-size: 18px;
    font-weight: 500;
    text-align: center;
}

/* --FOOTER-- */

footer {
    height: 300px;
    display: grid;
    grid-template: 2 / 2;
}
footer img {
    grid-area: 1 / 1 / 2 / 2;
    width: 100%;
    height: 400px;
    object-fit: cover;
}
footer .content {
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    background-color: var(--grey);
    height: 85%;
    width: 90%;
    justify-self: center;
    align-self: end;
    justify-content: space-evenly;
    align-items: center;
}
footer .content ul li {
    margin: 20px;
    list-style: none;
    color: var(--white);
}
footer .content ul li:hover {
    text-decoration: underline;
    cursor: pointer;
}
.logo-footer {
    background-image: url("../assets/Imagenes/Hero/logo.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
}