
@media screen and (max-width: 1024px) {
    .section-1 div {
        margin: 0px;
        max-width: 50vw;
        width: 50%;
        height: 200px;
    }
    .section-1 div:hover {
        flex-grow: 0;
        transition: 0;
    }
    .hidden2 {
        display: inline;   
    }
    .section-2 {
        width: 90vw;
    }
}

@media screen and (max-width:767px) {
    
    /* --HEADER-- */
    
    .logo_menu {
        display: inline;
        padding: 5px;
        width: 55px;
        height: 55px;
        margin-right: 10px;
    }
    .logo_menu:hover {
        background-color: var(--green);
        border-radius: 5px;
    }
    header nav {
        display: flex;
        align-self: center;
        margin-right: 0px;
    } 
    header nav ul {
        display: inline;
        position: absolute;
        right: 0;
        left: 0;
        top: 80px;
        
    } 
    header nav ul li {
        margin: 0px;
        padding: 15px 20px;
        border-bottom: solid white;
        list-style: none;
        background-color: var(--grey);
    } 
    header nav ul li:hover {
        background-color: var(--green);
        padding-left: 30px;
        transition: .5s;
    } 
    .hidden {
        display: none;
    }

    /* --MAIN-- */

    .section-1 div {
        flex-direction: column;
        flex-grow: 0;
        height: 150px;
    }
    .section-1 div img {
        width: 100px;
        height: 100px;
    }
    .section-1 div h2 {
        font-size: 20px;
    }

    /* --FOOTER-- */

    footer .content {
        flex-direction: column;
        width: 100%;
        padding: 20px 0px;
    }
}

@media screen and (max-height: 500px) {
    .section-1 div{
        height: calc( 50vh - 40px );
    }
}

@media screen and (max-width: 500px) {
    .section-2 p {
        display: none;
    }
    .container_plato {
        height: 320px;
    }
}